<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/themify-icons/themify-icons.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{img/cover.png}" type="image/gif" sizes="20x20">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Chi tiết</title>
</head>
<body>
<header class="header">
    <div class="grid">
        <nav class=" header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-has-qr header__navbar--separate">
                    <a class="home" th:href="@{/}" href="#">Trang chủ</a>
                </li>
                <li class="header__navbar-item header__navbar-has-qr header__navbar--separate">Tải ứng dụng
                    <div class="header__qrcode">
                        <img src="/img/qr.png" alt="QR-CODE" class="header__qrcode-img">
                        <div class="header__qrcode-link">
                            <a href="" class="header__qrcode-apps">
                                <img src="/img/google.png" alt="QR-google" class="header__download">
                            </a>
                            <a href="" class="header__qrcode-apps">
                                <img src="/img/store.png" alt="QR-app-store" class="header__download">
                            </a>
                        </div>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <span class="header__navbar-title--no-pointer" >Kết nối</span>
                    <a href="https://www.facebook.com/tan.muas27/" class="header__navbar-icon-link">
                        <i class="header__navbar-icon fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="header__navbar-icon-link">
                        <i class="header__navbar-icon fab fa-instagram"></i>
                    </a>
                </li>
            </ul>

            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item-has-notify"><a href="" class="header__navbar-link">
                    <i class="header__navbar-icon fal fa-bell"></i>
                    Thông báo</a>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>Đăng nhập để xem thông báo</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--viewed">
                                <a href="" class="header__notify-link">
                                    <img class="header__notify-img" src="/img/thongbao.png" alt="">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Yourname</span>
                                        <span class="header__notify-desc">120.000VND</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="header__notify-list">
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <img class="header__notify-img" src="/img/thongbao.png" alt="">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">Miễn phí giao hàng 0Đ</span>
                                        <span class="header__notify-desc">✨Hàng Loạt Voucher Hot Tặng Bạn, Tha Hồ Mua Sắm. </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--viewed">
                                <a href="" class="header__notify-link">
                                    <img class="header__notify-img" src="/img/thongbao.png" alt="">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">8.8 siêu sale Freeship</span>
                                        <span class="header__notify-desc"> 🔥Lên Shopee Săn Ngay Hàng Giá Sốc</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="header__notify-footer">
                            <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                        </div>
                    </div>
                </li>
                <li class="header__navbar-item"><a href="" class="header__navbar-link">
                    <i class="header__navbar-icon far fa-question-circle"></i>
                    Trợ giúp</a></li>
                <li class="js-sign header__navbar-item header__navbar-item--bold header__navbar--separate">
                    <a class="sign-login" th:href="@{/register}" href="#">Đăng ký</a>
                </li>
                <li class="js-login header__navbar-item header__navbar-item--bold">
                    <a class="sign-login" th:href="@{/login}" href="#">Đăng nhập</a>
                </li>
                <!--                        <li class="header__navbar-item header__navbar-item-user">-->
                <!--                            <img src="https://i.pinimg.com/236x/eb/53/e0/eb53e075730f1e3b3ebc3c05f0426bb8.jpg" alt="" class="header__navbar-item-img">-->
                <!--                            <span class="header__navbar-item-name">Nguyễn Công Mạnh Tân</span>-->
                <!--                            <ul class="header__navbar-menu">-->
                <!--                                <li class="header__navbar-menu-item">-->
                <!--                                    <a href="#">Tài khoản của tôi</a>-->
                <!--                                </li>-->
                <!--                                <li class="header__navbar-menu-item">-->
                <!--                                    <a href="#">Địa chỉ của tôi</a>-->
                <!--                                </li>-->
                <!--                                <li class="header__navbar-menu-item">-->
                <!--                                    <a href="#">Đơn mua</a>-->
                <!--                                </li>-->
                <!--                                <li class="header__navbar-menu-item header__navbar-menu-item&#45;&#45;separate">-->
                <!--                                    <a href="#">Đăng xuất</a>-->
                <!--                                </li>-->
            </ul>
            </li>
            </ul>
        </nav>
        <div class="header-with-search">
            <div class="header__logo">
                <a href="/" class="header__logo-link">
                </a>
            </div>
            <div class="header__search">
                <div class="header__search-input-wrap">
                    <input type="text" class="header__search-input" placeholder="nhập để tìm kiếm sản phẩm">
                    <div class="header__search-history">
                        <h3 class="header__search-history-heading">
                            Lịch sử tìm kiếm
                        </h3>
                        <ul class="header__search-history-list">
                            <li class="header__search-history-item">
                                <a href="">trong nước</a>
                            </li>
                            <li class="header__search-history-item">
                                <a href="">ngoài nước</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="header__search-btn">
                    <i class="header__search-btn-icon fas fa-search"></i>
                </button>
            </div>
            <div class="header__cart">
                <div class="header__cart-wrap" th:onclick=" |openCart()|">
                    <i class="header__cart-icon fas fa-shopping-cart"></i>
                    <!--                        <span class="header__cart-notice">3</span>-->
                    <!--                         no cart:header__cart-list&#45;&#45;no-cart -->
                </div>

            </div>
        </div>
    </div>
</header>
<div class="app__container">
    <div class="grid">
        <div class="productByID">
            <div class="descIMG">
                <img th:src="@{${'/' + products.HINHANH}}" alt="">
            </div>
            <div class="descProduct">
                <h3 class="descname" th:text="${products.TEN_SAN_PHAM}"></h3>
                <span class="priceProduct" th:text="${products.DON_GIA +' VND'}"></span>
                <p class="detailProduct" th:text="${products.MO_TA}">

                </p>
                <div class="rating">
                    <i class="fas fa-star  home-product-item__rating--active"></i>
                    <i class="fas fa-star  home-product-item__rating--active"></i>
                    <i class="fas fa-star  home-product-item__rating--active"></i>
                    <i class="fas fa-star  home-product-item__rating--active"></i>
                    <i class="fas fa-star  home-product-item__rating--active"></i>
                </div>
                <div class="buy__quantity">
                    <input type="number" id="quantity" th:valua="${products.SL}" placeholder="1" name="quantity" min="1" max="">
                    <button><a th:href="@{/home/Cart/add/{id}(id=${products.id})}">THÊM VÀO GIỎ HÀNG</a></button>
                </div>
                <div class="share">
                    <p>Share this product</p>
                    <div class="internet">
                        <i class="ti-facebook"></i>
                        <i class="ti-instagram"></i>
                        <!--<i class="ti-twitter-alt"></i>
                        <i class="ti-linkedin"></i>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="gird-column-2-4" style="display: block">
                <h3 class="footer-heading">Chăm Sóc khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Shop Mail</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="gird-column-2-4" style="display: block">
                <h3 class="footer-heading">Family4</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Giới thiệu</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tuyển dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tài khoản</a>
                    </li>
                </ul>
            </div>
            <div class="gird-column-2-4" style="display: block">
                <h3 class="footer-heading">Danh mục</h3>
            </div>
            <div class="gird-column-2-4" style="display: block">
                <h3 class="footer-heading">Theo dõi</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__link-icon fab fa-facebook"></i>Facebook</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="footer-item__link-icon fab fa-instagram"></i>instagram</a>
                    </li>
                    <!--                    <li class="footer-item">-->
                    <!--                        <a href="" class="footer-item__link">-->
                    <!--                            <i class="footer-item__link-icon fab fa-linkedin-in"></i>LinkedIn</a>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="gird-column-2-4" style="display: block">
                <h3 class="footer-heading">Vào của hàng trên ứng dụng</h3>
                <div class="footer-download">
                    <img src="./img/qr.png" alt="download QR" class="footer-download-qr">
                    <div class="footer-download-app">
                        <a href="">
                            <img src="./img/google.png" alt="download google" class="footer-download-app-img">
                        </a>
                        <a href="">
                            <img src="./img/store.png" alt="download appstore" class="footer-download-app-img">
                        </a>
                        <a href="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//static/1ae215920a31f2fc75b00d4ee9ae8551.png" alt="download App Gallery" class="footer-download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <p class="footer__text">Đồ án java web bán bánh ngọt Family4</p>
        </div>
    </div>
</footer>
<script src="/js/jQuery_v3.1.1.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/custom.js"></script>
<script>

      function openCart(){
        $.get("/home/Cart/list");
        location.reload();
      }
    </script>
</body>
<style>
    .productByID{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
    }
    .descIMG{
        width: 60%;
        text-align: center;
    }
    .descname,
    .detailProduct{
        line-height: 1.6;
        font-size: 18px;
        margin: 0 0 5px;
    }
    .descIMG img{
        width: 90%;
        height: 100%;
    }
    .descProduct{
        width: 30%;
    }
    .buy__quantity{
        display: flex;
        margin: 10px 5px 0;
    }
    .buy__quantity input{
        width: 70px;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        color: #f5f5f5;
        border: 1px solid #000;
        border-radius: 5px;
    }
    .buy__quantity button{
        width: 200px;
        margin-left: 30px;
        font-weight: 500;
        color: #fff;
        background-color: #000;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
        border: none;
    }
    .buy__quantity button a{
        text-decoration: none;
        color: #fff;
    }
    .priceProduct{
        font-size: 20px;
        color: red;
        font-weight: 400;
    }
    .rating {
        transform-origin: right;
        color: #d5d5d5;
        font-size: 15px;
        margin: -1px 0 0 auto;
    }
    .share{
        font-size: 15px;
        display: flex;
        color: #000;
        justify-content: center;
        align-items: center;
    }
    .internet{
        margin: 0 0 0 10px;
    }
    .internet i{
        margin: 0 5px;
    }
    .home,
    .sign-login{
        text-decoration: none;
        color: var(--white-color);
    }
    .home:hover,
    .sign-login:hover{
        color: rgba(255,255,255,0.7);
        cursor: pointer;
    }
</style>
</html>